@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap");

.import-container {
  display: flex;
  justify-content: center;
  height: 88vh;
  width: 100vw;
  align-items: center;
  align-content: center;
  position: absolute;
}

.import-container .import-card {
  background-color: whitesmoke;
  width: 95%;
  display: flex;
  justify-content: center;
  height: 85vh;
  /* align-items: flex-end; */
  flex-direction: column;
  align-content: flex-end;
}

.title-container > h4 {
  width: 100%;
  height: 8vh;
  font-size: 1.8em;
  font-weight: 600;
  color: #b70621;
  text-align: left;
  letter-spacing: 0.8px;
  /* padding-left: 2%; */
  display: flex;
  align-items: center;
  padding-top: 1%;
  font-family: "Encode Sans";
  margin-bottom: 2vh;
}

.download-excel {
  width: 12vw;
  height: 3.5vh;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  color: white;
  border: 0em;
  margin-left: 10px;
}

.download-excel > a {
  text-decoration: none;
}

.note {
  width: 100%;
  height: 16vh;
  background: #fd746a;
  margin-top: 1em;
  border-radius: 10px;
  color: white;
  display: flex;
  padding: 1.5%;
  flex-direction: column;
  /* align-content: flex-start; */
  align-items: flex-start;
}

.note .content-note {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1.5vh;
}

.form-upload-container {
  height: 25%;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.import-card .import-box-excel {
  width: 100%;
  height: 65vh;
  box-shadow: 0px 0px 0px 1px rgba(152, 161, 178, 0.1),
    0px 1px 4px rgba(69, 75, 87, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  overflow-x: scroll;
}

.import-card .table-header {
  background-color: #3b3634;
  color: white;
  height: 100px;
}

.import-card .col-table {
  width: 100px;
  justify-items: center;
}

.import-box-excel .button-save {
  width: 100%;
  height: 5vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.table-responsive .table-import-wrapper {
  width: 3100px;
  max-height: 48vh;
  /* padding: 20px 25px; */
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.table-import-wrapper .table-secondary {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
.new-button {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #9c27b0;
  font-size: 16px;
  color: #fff;
}

.choose-file label {
  background-color: #0a2495;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
}

#file-chosen {
  margin-left: 0.3rem;
  font-family: sans-serif;
}
