.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 93vh;
  margin-top: 0.5vh;
}

.dashboard-container .dashboard-card {
  margin-top: 1.5vh;
  background-color: whitesmoke;
  width: 90vw;
  display: flex;
  min-height: 88vh;
  flex-direction: column;
  border-radius: 10px;
  /* box-shadow: 1px 2px 2px 3px rgb(221, 219, 219) */
}

/* .dashboard-card .content-dashboard {
    width: 70%;
    height: 100%;
} */

.dashboard-card .content-dashboard-top {
  width: 100%;
  height: 18%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2vh;
}

.content-dashboard-top .count-dashboard {
  width: 20vw;
  height: 15vh;
  border-radius: 20px;
  /* border-width: 0.3vh; */
  border-color: rgb(200, 200, 200);
  /* border-style: solid; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
}

.content-dashboard-top .content-icon {
  width: 20%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-left: 2vw;
  font-size: 5.8vh;
}

.content-dashboard-top .content-non-icon {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.content-non-icon .count-number {
  font-size: 5vh;
  font-weight: 600;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-bottom: -20px;
  margin-top: -11px;
}

.dashboard-card .content-dashboard-center {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3vh;
}
.content-dashboard-center .piechart {
  width: 30%;
  height: 90%;
  border-radius: 3vh;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-top: 1vh;
  padding-bottom: 2vh;
}
.piechart .title-piechart {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 20px;
  color: #B70621;
}
.content-dashboard-center .linechart {
  width: 40%;
  height: 90%;
  border-radius: 3vh;
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 2.5vw;
}
.linechart .table-subproduct {
  width: 100%;
  height: 100%;
}
.styled-table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 3vh;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Poppins";
}

.styled-table thead tr {
  background-color: #B70621;
  color: #ffffff;
  text-align: center;
  
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.dashboard-card .content-dashboard-bottom {
  width: 100%;
  height: 45vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5vh;
}

.content-dashboard-bottom .grafik-box {
  width: 48.5%;
  height: 90%;
  border-radius: 3vh;
  border-width: 0.3vh;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.content-dashboard-center .eventlog-container {
  width: 28%;
  height: 93%;
  text-align: start;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 1vw;
  background-color: white;
  border-radius: 3vh;
  margin-left: 2.5vw;
  /* padding-bottom: 1.6vh; */
}
.eventlog-container .title-recent h5 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 1vh;
  font-family: 'Roboto';
  font-weight: 800;
  color: #B70621;
  
}
.eventlog-container .eventlog-box {
  width: 95%;
  height: 90%;
  overflow-y: scroll;
}

.eventlog-box .eventlog-box-content {
  font-family: "Poppins";
  background-color: #ffdcdc;
  width: 100%;
  height: 15%;
  border-radius: 1vh;
  margin-top: 0.5vh;
  padding-left: 1vw;
  padding-top: 0.5vh;
  font-size: 0.8vw;
  border-style: solid;
  border-color: rgb(255, 80, 80);
  border-width: 0px 0px 0px 10px;
}
