.po-inv-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 79vh;
}

.po-inv-form-container .po-inv-form-card {
    background-color:white;
    width: 90vw;
    display: flex;
    justify-content: flex-start;
    height: 95%;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    padding: 40px;
    text-align: start;
    margin-bottom: 3vh;
}

.inputBoxPO select {
    width: 100%;
    background-color: white;
    border: 1px solid rgb(236, 236, 236);
    height: 40px;
    padding: 10px 5px;
    font-size: 15px;
    text-transform: none;
    align-items: flex-start;
    display: flex;
    border-radius: 8px;
  }
  
  .formPOInput .form-control {
    max-width: 100%;
  }
  
  .inputBoxPO .subscript {
    vertical-align: super;
    font-size: small;
  }
  
  .inputBoxPO input {
    width: 100%;
    border: 1px solid rgb(180, 178, 178);
    padding: 8px 30px;
    font-size: 15px;
    text-transform: none;
    align-items: flex-start;
    display: flex;
    border-radius: 10px;
  }

  .header-item-add{
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header-item-add >a {
    cursor: pointer;
  }