.text-inv {
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}
.text-inv2 {
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

/* For mobile phones: */
@media only screen and (max-width: 520px) {
    .text-inv {
        text-decoration: none;
        font-size: 10px;
        text-align: center;
    }
    .text-inv2 {
        text-decoration: none;
        font-size: 10px;
        text-align: center;
    }
}
