* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  width: 100%;
  background-color: whitesmoke;
}
main {
  width: 100%;
}

.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

/* Sidebar */
.sidebar {
  background: #b70621;
  color: white;
  min-height: 100vh;
  position: sticky;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
.logo {
  font-size: 20px;
  line-height: 0;
}
.bars {
  width: 30px;
}
.hide {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 30px;
  padding: 10px;
}
.search input {
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  background: rgb(238, 238, 238);

  color: white;
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.link {
  display: flex;
  color: white;
  gap: 10px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  outline: none;
  text-decoration: none;
}
.link:hover {
  border-right: 4px solid white;
  background: #888888;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.active {
  border-right: 4px solid white;
  background: #999696;
}
.link_text {
  white-space: nowrap;
  font-size: 20px;
  color: #fff;
}

.menu {
  display: flex;
  color: white;

  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}
.menu_item {
  display: flex;
  gap: 10px;
}
.menu_container {
  display: flex;
  flex-direction: column;
  z-index: 10;
}
.menu_container .link {
  padding-left: 20px;
  border-bottom: #fff 0.5px solid;
}

.main-container .header-main {
  background: rgb(255, 255, 255);
  height: 7vh;
  color: #b70621;
  justify-content: space-between;
  padding-right: 2%;
  font-size: 1.5em;
  padding-left: 1.2%;
}

.footer-main {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px;
  margin-top: 250%;
}

.navbar .user-action {
  padding: 9px 15px;
  font-size: 18px;
}
.icon {
  color: #fff;
}

.header-main .nav-right {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.modalNotif {
  position: absolute;
  max-height: 35vh;
  width: 250px;
  font-size: small;
  top: 40px;
  right: 10px;
  display: flex;
  flex-direction: column;
  text-align: start;
  background-color: #f0f3f7;
  border-radius: 10px;
  border-style: solid ;
  border-color: #888888;
  border-width: 2px;
  z-index: 101;
  overflow-y: scroll;
  margin-top: 2.5vh;
  margin-right: 2vw;
}
.title-menu-sidebar{
  font-size: 22px;
  margin-top: 1.2vh;
}

.logo-nav {
  width: 7.8vw;
  height: 4.5vh;
}

/* For mobile phones: */
@media only screen and (max-width: 480px) {
  .logo-nav {
    width: 7.8vw;
    height: 4.5vh;
  }
}