.Nav {
    background:#383838;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logout{
  position: absolute;
  width: 90px;
  height: 40px;
  right: 2%;
}

.NavIcon {
  margin-left: 2rem;
  font-size: 2rem;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.SidebarWrap {
    width: 100%;
}

.AppFooter {
  position: fixed;
  width: 100vw;
  bottom: 0px;
  background: #383838;
  display: flex;
  flex-direction: column;
}

.AppFooter > p {
  width: 100vw;
  height: 100%;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin: 20px;
  align-self: flex-end;
}