.Nav {
    background:#383838;
    height: 7vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logout{
  position: absolute;
  width: 90px;
  height: 40px;
  right: 2%;
}

.NavIcon {
  margin-left: 2rem;
  font-size: 2rem;
  height: 6vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.SidebarWrap {
    width: 100%;
}

.AppFooter {
  position: absolute;
  width: 100%;
  height: 5vh;
  bottom: 0%;
  background: #383838;
  /* margin-top: 100px; */
}

.AppFooter > p {
  position: absolute;
  bottom: 10%;
  left: 42.2%;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 0.08em;
  color: #FFFFFF;
}