.po-app-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 90vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-family: 'Poppins';
}

.po-app-form-container .po-app-form-card {
    background-color:white;
    width: 80vw;
    display: flex;
    justify-content: flex-start;
    height: 95%;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    /* box-shadow: 0px 0px 5px 5px rgb(221, 219, 219); */
    position: relative;
    padding: 50px;
    text-align: start;
}

.checkBox input{
    margin-top: 35px;
    margin-left: 40px;
}

input[type=radio] {
    transform: scale(1.5);
}