.add-po-form-container {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100.5vh;
  background-color: rgba(59, 2, 2, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
}

.add-po-form-container .formPO {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:55px;
  height: 90vh;
  text-align: left;
  font-size: 20px;
    
}
.formPO form{
  padding:40px;
  width: 80vw;
  height: auto;
  background: rgb(255, 255, 255);
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}
.inputBoxPO select {
  width: 100%;
  background-color: white;
  border: 1px solid rgb(236, 236, 236);
  height: 40px;
  /* line-height: 5px; */
  padding: 10px 5px;
  font-size: 15px;
  text-transform: none;
  align-items: flex-start;
  display: flex;
  border-radius: 8px;
}

.formPOInput .form-control {
  max-width: 100%;
}

.inputBoxPO .subscript {
  vertical-align: super;
  font-size: small;
}

.inputBoxPO input {
  width: 100%;
  border: 1px solid rgb(180, 178, 178);
  padding: 8px 30px;
  font-size: 15px;
  text-transform: none;
  align-items: flex-start;
  display: flex;
  border-radius: 10px;
}
