.po-list-container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 93vh;
  margin-top: 0.5vh
}

.po-list-container .po-list-card {
  background-color:white;
  width: 90vw;
  display: flex;
  justify-content: center;
  height: 88vh;
  align-items: flex-end;
  flex-direction: column;
  align-content: flex-end;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgb(221, 219, 219);
  position: relative;
}
.po-list-card .title-po-list {
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: #B70621;
  color: #ffffff;
  font-size: 34px;
  font-family: "Poppins";
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding-left: 2vw;
  letter-spacing: 1.3px;
}
.po-list-card .title-po-list p{
  margin-top: 10px;
  text-align: center;
}
.po-list-card .title-po-list .button-add-po{
 margin: 10px 20px;
}
.po-list-card .table-container {
  display: flex;
  height: 80%;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.formPOcontainer {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  font-family: "Poppins";
}

.po-container-item{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-direction: row-; */
       /* gap: 0px 62.5%; */
    /* margin-left: 24em; */
    margin-top: 2em;
    margin-bottom: 2em;
    justify-content: space-between;
}




.pageNumbers {
  list-style: none;
  display: flex;
  float: left;
}

.pageNumbers li {
  padding: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

.pageNumbers li.active {
  background-color: #3e4041;
  color: rgb(255, 255, 255);
}

.pageNumbers li button {
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 13px;
  cursor: pointer;
}
.pageNumbers li button:hover {
  background-color: rgb(236, 230, 230);
  color: black;
}
.pageNumbers li button:focus {
  outline: none;
}

.loadmore {
  padding: 1rem;
  background-color: transparent;

  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  border: 1px solid rgb(146, 56, 56);
  cursor: pointer;
}

.pagination {
  float: right;
  margin: 0 0 5px;
}
.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}
.pagination li a:hover {
  color: rgb(110, 77, 77);
}
.pagination li.active a,
.pagination li.active a.page-link {
  background: #03a9f4;
}
.pagination li.active a:hover {
  background: #0397d6;
}
.pagination li.disabled i {
  color: #ccc;
}
.pagination li i {
  font-size: 16px;
  padding-top: 6px;
}
.hint-text {
  float: right;
  margin-top: 10px;
  font-size: 13px;
}
.body {
  color: #6478a0;
  height: auto;
  overflow: hidden;
  /* font-family: "Varela Round", sans-serif; */
}
.table-responsive {
  margin: 0px 0;
}
 .table-po-wrapper {
  /* overflow-x: auto; */
  width: 3100px;
  max-height: 95vh;
  background: rgb(255, 255, 255);
  padding: 20px 25px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.table-po-title {
  font-family: "Poppins";
  background: #B70621;
  color: rgb(255, 255, 255);
 
}
